*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: calibri, monospace, "Lucida Console", Courier;
}
.cabecalho {
    background-color: black;
    max-width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo {
    height: 40px;
}
@media (max-width: 598px) {
   .tablet {
     width: 100%;
     height: 598px;
     object-fit: cover;
   }
 h4 {
        margin:20px 30px 0 30px;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        text-transform: uppercase;
        padding: 2px 20px;
 }
h2 {
        margin:0 30px 0 30px;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        text-transform: uppercase;
        padding: 2px 20px;
 }
  .pcs {
    width: 70%;
    margin: 15%;

 }
}
 
    
 p#pqualidade {
        width: 70%;
        margin: 0 15%;
        text-align: center;
 }   
 
     
 
 .caixa {
    width: 80%;
    height: 160px;
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 40px auto;
    flex-direction: column;
 }

 .imagenscards {
    width: 100px;
 }
 .imagemDOIS {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
/*grid*/
.cards{
    margin: 0px auto 20px auto;
    width:100%;
    height:840px;
    background-color: white;
    display:grid;
    grid-template-columns: 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 0;
    justify-content: center;
}
.box {
      background-color:rgb(255, 255, 255);
      padding:20px;
      border-radius:10px;
      color:rgb(0, 0, 0);
      display:flex;
      align-items:center;
      justify-content:center;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
     
    }


.bottom-card-image {
    display: block;
    margin: 0 10px 25px 0;
}
.bottom-card-description {
    max-width: 368px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
}
/*infocard bottom*/
.imagem-final {
    width: 100%;
    height: 414px;
    object-fit: cover;
    

    
}
.infocard {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 25px;
    margin: 15px;
}
.infocard h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
/*início rodapé*/
.rodapé {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
 }
 .icones-rodapé{
     display: flex;
     list-style: none;
     align-items: center;
     margin-bottom: 15px;

 }
 .icones-footer {
     margin: 0 8px;

 }
 .texto-rodapé {
     line-height: 15px;
     font-size: 12px;
     color: white;
     text-transform: uppercase;
 } 
 #insta {
     width: 25px;
     object-fit: contain;
 }
 /*fim rodapé*/



@media (min-width: 598px) {
    .tablet {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
  
    
    .beneficios {
        display: flex;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 360px;
    
           
    }
    h4 {
        margin:20px 30px 0 30px;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        text-transform: uppercase;
        padding: 2px 20px;
 }
h2 {
        margin:0 30px 0 30px;
        
        color: black;
        text-align: center;
        text-transform: uppercase;
        padding: 2px 20px;
 }
  .pcs {
    width: 20%;
    margin: 5% 40%;

 }

 
    
 p#pqualidade {
        width: 70%;
        margin: 0 15%;
        text-align: center;
 }   
    .caixa {
        background: white;    
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
        margin: 3%;
        width: 28%;
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .imagenscards {
        width: 100px;
    }
    .caixa p {
        font-size: 20px;
        padding: 6px;
    }
    .imagemDOIS {
        width: 30%;
        height: 340px;
        object-fit: cover;
        margin: 1.5%;
        
    }
    .gridImage{
        background-color: rgb(207, 207, 207);
    }
        
    /*grid*/
    .cards{
        margin: 0 auto 20px auto;
        width:100%;
        height:332px;
        background-color: white;
        display:flex;
        margin: 5px;
        padding: 20px 0;
        justify-content:center;

    }
    .box {
          background-color:rgb(255, 255, 255);
          padding:20px;
          border-radius:10px;
          color:rgb(0, 0, 0);
          display:flex;
          align-items:center;
          justify-content:center;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
         margin: 10px;
        }
  
  
    .bottom-card-image {
        display: block;
        margin: 0 10px 25px 0;
    }
    .bottom-card-description {
        max-width: 368px;
        text-align: center;
        line-height: 25px;
        font-size: 16px;
    }
   /*infocard bottom*/
    .finalizar {
        background-color: white;
        display: flex;
    }
    .imagem-final {
        width: 40%;
        height: 300px;
        object-fit: cover;
        margin: 100px;
        display: flex;
        justify-content: left;
    }
    .infocard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 220px;
    }
    .paragrafo-fim{
        background-color: rgba(0, 0, 0, 0);
    }
    /*início rodapé*/
    .rodapé {
       background-color: black;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 38px 0;
    }
    .icones-rodapé{
        display: flex;
        list-style: none;
        align-items: center;
        margin-bottom: 15px;

    }
    .icones-footer {
        margin: 0 8px;

    }
    .texto-rodapé {
        line-height: 15px;
        font-size: 12px;
        color: white;
        text-transform: uppercase;
    } 
    #insta {
        width: 25px;
        object-fit: contain;
    }
    /*fim rodapé*/
}
    

   



   
